.weiht {
    width: 40%;
    height: 50px;
    border: 1px solid red;
    margin: 10px auto;
    
    
  }
  .red {
    background-color: red;
    width: 0%;
    height: 50px;
    animation-name: indicat;
    animation-duration: 5s;
    animation-iteration-count:1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
    @keyframes indicat {
    from {width: 0%;} 
    to {width: 100%;}
  }