.green  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*border: 1px solid green;*/
    width: 800px;
    /*padding:20px 20px 0 20px ;*/
   
    
}
.red {
    border: 1px solid red;
    width: 30%;
    transition: 2s;
    height: 30px;
    margin-bottom: 20px;
    
}
<<<<<<< HEAD
.red:hover+div+div {
=======
.red:hover~div {
>>>>>>> 27d1f0098f49f15adf17bcf896bad19e0e4513ea
    width: 100%;
}

