.redbox {
    
    /*left: 20px;*/
    /*position: relative;*/

    border: 1px solid red;
    padding: 10px;
    /*overflow: hidden;*/
    /*display:inline-block;*/
    width: 30%;
    /*height: 40px;*/
    color: #000;
    text-indent: 1800px;
    text-align: center;
    /*font-size:  14px*/;
    background: #fff;
    transition-property: text-indent;
    transition-timing-function: linear;
    transition-duration: 3s;
    transition-delay: 0.1s;
   
    
}
/*.box {
    height: 20px;
    width: 100px;
    margin: auto;
    transform: scale(1,1);
}*/
.redbox:hover {
   
    /*background: red;*/    
    /*color: red;*/
    /*width: 1200px;*/
    /*transform: scale(2,1.2);*/
    /*font-size: 20px;*/
    /*left: 50px;*/
    text-indent: 0;

}