#wrapper {
    width: 800px;
    margin:20px auto;
    border: 1px solid #edce22;
    border-color: #edce22;
}



#menu {
    
    display: flex;
    
    /*margin: 50px 100px;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*flex-direction: column;*/
    justify-content:flex-start;
    margin-bottom: 20px;
    background-color: #edce22;
    
    


}
#menu a {
    /*margin-right: 5px;*/
    /*margin: 10px;*/
    /*max-width: 150px;*/
	padding: 10px 30px;
	font: bold 14px Arial;
	text-decoration: none;
	color: #090909;
	border: 1px solid #edce22;
	  
}
#menu a:hover, #menu:active {
    color: #243ed1;
	border: 1px solid #edce22;
	background-color: #fff;   
}
#content {
    padding: 0 20px;
    margin-bottom: 20px;
}
#content h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
#content p {
    font-size: 16px;
   
    text-align: justify;
}
.blue {
    color: #243ed1;
}
#footer {
    display: flex;
    justify-content: center;
    

}
#footer a {
    font-family: Arial;
    font-size: 15px;
    
    color: rgb(59, 10, 10);
    border-color: aquamarine;
    padding: 10px 15px;
} 
#footer a:hover, #footer a:active {
    color: #090909;
}

